<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Uploadead data</title>
</head>

<body>
    <div class="nav">
        <ul>
            <li><a href="/">HomePage</a></li>
            <li><a href="/getData">GetData</a></li>
        </ul>
    </div>
    
		<h1>Uplaoded Images</h1>
		<div style="display: flex">
			<% items.forEach(function(image) { %>
			<div>
                <a href="/getData/<%= image.id %>">
				<img style="width:150px; display: flex; margin: 20px; border: 2px solid #ddd; border-radius: 4px; padding: 5px"
					src="<%= image.imagePath %>">">
				<!-- <img style="width:150px; display: flex; margin: 20px; border: 2px solid #ddd; border-radius: 4px; padding: 5px"
					src="data:image/<%=image.img.contentType%>;base64, 
					<%=image.img.data.toString('base64')%>"> -->
                </a>
                

			</div>
			<% }) %>
		</div>
</body>

</html>


